/* ===== BARRA LATERAL (SIDEBAR) ===== */
.sidebar {
  width: 280px;
  flex-shrink: 0;
  background-color: #1f1e30;
}

a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.sidebar .nav-link {
  color: #ccc; 
  border-radius: 20px; 
}

.sidebar .nav-link.active {
  background-color: #d8f17b;
  color: #333;
}

.sidebar .nav-link:hover {
    font-weight: 1000;
}

.main-content {
  background-color: #f9f9f9; 
}

.dropdown-usuario {
  font-size: 0.7rem;
  margin-right: 2rem;
}

.dados-usuario {
  margin-right: 0.4rem;
  color: var(--bs-body-color);
}

.main-content {
  background-color: var(--bs-body-bg); 
  color: var(--bs-body-color);
}

.btn-notificacoes {
  text-decoration: none;
  color: var(--bs-body-color);
}


[data-bs-theme="dark"] {
  --bs-body-bg: #1f1e30; 
}

.dropdown-notifications .dropdown-scroll-area {
  max-height: 400px;
  overflow-y: auto;
}

/* Remove o padding padrão do <a> para o d-flex funcionar */
.dropdown-notifications .dropdown-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* Garante que o texto possa quebrar */
  white-space: normal;
}

/* Melhora a legibilidade do texto "small" */
.dropdown-notifications .dropdown-item .small {
  font-size: 0.75rem; /* 12px */
}

/* Estiliza o cabeçalho */
.dropdown-notifications .dropdown-header {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

/* Estiliza o rodapé */
.dropdown-notifications .dropdown-footer-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--bs-primary);
}

.dropdown-notifications .dropdown-footer-link:hover {
  background-color: var(--bs-light);
}