@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
  --color-primary: #d8f17b;
  --color-primary-hover: #c9e067;
  --color-primary-text: #333;
  --color-border: #e3e6ea;
  --color-bg-light: #fff;
  --color-bg-hover: #f8f9fa;
  --color-text-muted: #6c757d;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 0.6rem;
}

.btn-primary {
  background-color: var(--color-primary)!important;
  color: var(--color-primary-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
